.navbar-nav a {
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 30px;
    
}
#navbar-top {
    background-color: #FD670E;
}
hr {
    border: 5px solid #FD670E;
    border-radius: px;
}
footer a {
    text-decoration: none;
    color: beige;
    font-size: 19px;
}
#round {
    border-radius: 100%;
    border: 3px solid #FD670E;
    width: 155px;
    position: relative;
    bottom: 55px;
}
#textcard {
    position: relative;
    bottom: 45px;
    font-size: 19px;
}