.navbar-nav a {
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 30px;
    
}
#navbar-top {
    background-color: #FD670E;
}
hr {
    border: 5px solid #FD670E;
    border-radius: px;
}
